@import 'src/variables';

.service {
  margin-bottom: 110px;
  margin-right: 100px;
}

.service-icon-div {
  width: 75px;
}

.service-icon {
  width: 100%;
}

.service-heading {
  margin: 10px 0px 20px; 
  max-width: 297px;
}

.service-paragraph {
  max-width: 400px;
}