@import 'src/variables';

.hero {
  padding-top: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.hero-content {
  margin: 290px 0 350px;
}

.hero-paragraph {
  margin: 20px 0px 40px;
}

.hero-photo {
  max-width: 780px;
  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.15));
  flex-shrink: 1;
}

.button-layout {
  display: flex;
  justify-content: space-between;
  max-width: 364px;
  flex-wrap: wrap;
}

a {
  &, &:hover, &:visited, &:active {
    color: rgba(0, 0, 0, 0.6);
  }
}