@import 'src/variables';

.button {
  display: inline-block;
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  @include default-transition;

  &, &:hover, &:visited, &:active {
    border: 1.5px solid $brand-color;
    outline: none;
  }

  &:hover {
    transform: translate(10px, 10px);
  }
  
}

.primary {
  background-color: $brand-color;

    &, &:hover, &:visited, &:active {
      color: $cloudy-white;
    }
}

.ghost {
  background-color: #F5F5F5;

  &, &:hover, &:visited, &:active {
    color: $brand-color;
  }
}

.button-div {
  position: relative;
}

.button-shadow {
  padding: 7.5px 26.5px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(222, 72, 72, 0.15);
  color: transparent;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 10px;
  white-space: nowrap;
}