@import 'src/variables';

.icons-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 25px 0 27px;
}

.social-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @include respond(tab-port) {
    flex-direction: row;
  }

  @media (max-height: 610px) {
    flex-direction: row;
  }
}

.social , .darkmode-button {
  max-width: 30px;
  cursor: pointer;

  @include respond(tab-port) {
    padding: 10px;
    margin-right: 5px;
  }

  @media (max-height: 610px) {
    margin-right: 10px;
  }
}