@import 'src/variables';

.tag-div {
  margin: 10px 10px 2px 0px;
  padding: 2px 13px;
  background-color: $caption-red;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  text-align: center;
  flex-shrink: 0;
}
