@import '../../variables';

.link_layout {
  
}

.link {
  cursor: pointer;
  margin: 13.5px 0;
  padding: 12px 11px;
  font-style: 400;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border-left: 15px solid #de484800;

  @include default-transition;

  &:hover {
    border-left: 15px solid rgba($color: #000000, $alpha: 0.3);
    
  }
}