@import 'src/variables';

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.link {
  display: block;
  cursor: pointer;
  margin: 13.5px 0;
  padding: 12px 11px;
  font-style: 400;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border-left: 15px solid #de484800;

  @include default-transition;

  @include respond(tab-port) {
   padding-left: 25px; 
  }

  &:hover {
    border-left: 15px solid rgba($color: #000000, $alpha: 0.3);
    
  }

  &, &:hover, &:visited, &:active {
    color: $cloudy-black;
  }

  &.active{
    border-left: 15px solid $brand-color;
  }
}