@import '../../variables.scss';

.hero {
  display: flex;
  align-items: flex-start;
  
}

.hero-content {
  margin-top: 290px;
}

.hero-paragraph {
  margin: 20px 0px 40px;
}

.hero-photo {
  max-width: 780px;
  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.15));
  flex-shrink: 0;
}

.email-span {
  display: inline-block;
  height: 1.1em;
  border-bottom: 6px solid rgba(222, 72, 72, 0.2);;
  cursor: pointer;
}

.button-layout {
  display: flex;
  justify-content: space-between;
  max-width: 364px;
  flex-wrap: wrap;
}