@import 'src/variables';

.get-in-touch {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-container {
  display: flex;
  margin-bottom: 50px;
}

.at-div {
  max-width: 531px;
  position: relative;
}

.at-sign {
  position: absolute;
  z-index: -1;
}

.at-heading {
  padding: 160px 0;
  font-weight: 600;
  font-size: 60px;
}

.content {
  max-width: 800px;
  margin: 130px 0 0 150px;
}

.content-paragraph {
  margin-bottom: 30px;
}

a {
  &, &:hover, &:visited, &:active {
    color: rgba(0, 0, 0, 0.6);
  }
}