@import 'src/variables';

.get-in-touch {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;

  @include respond(tab-land) {
    flex-direction: column;
  }
}

.at-div {
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 315px;

  // @include respond(phone-xs) {
  //   height: 200px;
  // }
}

.at-sign {
  position: absolute;
  z-index: -1;

  @include respond(tab-land) {
    opacity: 0.35;
  }

  @include respond(phone) {
    opacity: 0.2;
  }
}

.at-heading {
  padding: 125px 0;
  font-weight: 600;
}

.content {
  max-width: 800px;
  margin: 5.5vw 0 0 8vw;

  @include respond(tab-land) {
    margin: -130px 0 0 0;
  }
}

.content-paragraph {
  margin-bottom: 30px;
}

a {
  &, &:hover, &:visited, &:active {
    color: rgba(0, 0, 0, 0.6);
  }
}