@import 'src/variables';

.top-menu {
  justify-content: space-between;
  align-items: center;
  display: none;
  margin: 0 20px 0 30px;
  z-index: 3;
  position: relative;

  @include respond(tab-port) {
    display: flex;
  }

  @include respond(phone-xs) {
    margin: 0;
  }
}
.menu-button {
  width: 40px;
  height: 35px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;
  outline-color: $brand-color;
}