@import 'src/variables';

.navbar {
  height: calc(100vh - 60px);
  top: 30px;
  left: 30px;
  width: 178px;
  background-color: #d9d9d9;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-port) {
    position: absolute;
    z-index: 5;
    margin-left: 15px;
    width: calc(100vw - 80px);
    top: 80px;
    height: auto;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }

  @include respond(phone-xs) {
    margin-left: 0;
    width: calc(100vw - 60px);
  }
}


.smallNavbar {
  max-height: 350px;
  transition: max-height 0.2s ease-in;
}