.navbar {
  height: calc(100vh - 60px);
  width: 178px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: inline-block;
}

.brand_logo_div {
  width: 122px;
  margin: 30px 25px 100px;
  position: static;
}