@import 'src/variables';

.what-i-do {
  margin-bottom: 25px;
  padding: 75px 50px 0 0;
  display: flex;
  justify-content: space-between;
  
}

.heading {
  margin-right: 100px;
  margin-top: -10px;
  margin-bottom: 50px;
  flex-shrink: 0;
}

.services-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}