@import 'src/variables';

.what-i-do {
  margin-bottom: 25px;
  padding: 75px 50px 0 0;
  display: flex;
  justify-content: flex-start;
 
  @media (max-width: 1675px) {
    flex-direction: column;
  }
}

.heading {
  margin-right: 150px;
  margin-top: -10px;
  margin-bottom: 50px;
  flex-shrink: 0;
}

.services-div {
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
}