$brand-color: #DE4848;
$cloudy-white: #F2F2F2;
$cloudy-black: #232323;
$caption-red: rgba(247, 80, 80, 0.1);

@mixin default-transition {
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

@mixin respond($breakpoint) {
  // Phone-xs
  @if $breakpoint == phone-xs {
    @media (max-width: 320px) {
      @content;
    }
  }
  // Phone
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  // Table Portrait
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  // Table Landscape
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  // Big Desktop
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@mixin navbarRespond () {
  @media screen and (max-height: 730px) , (max-width: 730px) {
    @content;
  }
}