@import './variables';

body {
  margin: 0 auto;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: $cloudy-black;
  background-image: linear-gradient(97.8deg, #F2F2F2 12.57%, #FEFEFE 81.02%);
}

h1 {
  font-weight: 600;
  line-height: 125.5%;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 122.5%;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

img {
  width: 100%;  
}

.caption {
  font-weight: 400;
  font-size: 13px;
  line-height: 0px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

