@import 'src/variables';

.work {
  display: flex;
  justify-content: space-between;
  margin-right: 4.26vw;
  margin-bottom: 150px;
  align-items: center;

  @include respond(tab-land) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.reverse {
  flex-direction: row-reverse;

  @include respond(tab-land) {
    flex-direction: column;
  }
}

.work-content {
  margin-top: 48px;
  max-width: 650px;
}

.tag-container {
  display: flex;
  margin: 10px 0 28px 0;
  flex-wrap: wrap;
}

.work-paragraph {
  margin-bottom: 35px;
}

.photo, .reverse-photo {
  max-width: 550px;
  min-width: 450px;

  @include respond(tab-land) {
    margin-top: 50px;
  }

  @include respond(phone) {
    min-width: 200px;
    width: 70vw;
  }
}

.photo {
  margin-left: 75px;

  @include respond(tab-land) {
    margin-left: 0;
    margin-right: 75px;
  }

  @include respond(phone) {
    margin-left: 0;
    margin-right: 0;
  }
}

.reverse-photo {
  margin-right: 75px;

  @include respond(phone) {
    margin-left: 0;
    margin-right: 0;
  }
}